$expandSpeed: .4s;
$background: $pastel--d;
$foreground: $blue;

.portfolio {
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  background: $gray--d url(../images/gplaypattern.png);
  color: $pastel--d;
  box-shadow: 0 -1px 24px 5px $overlay;
  border-top: 1px solid $gray--l;
  overflow: hidden;
}

.projects__list {
  @extend %list-reset;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;

  @include from-landscape() { grid-template-columns: repeat(2, 1fr); grid-auto-rows: 1fr; }
  @include from-desktop() { grid-template-columns: repeat(3, 1fr); grid-gap: 2rem; }
}

.project {
  display: flex;
  align-items: flex-end;
  box-shadow: 1px 1px 7px $softshadow;
  background: $pastel--d no-repeat top left/cover;
  transition: box-shadow .3s ease-out;
  overflow: hidden;
  color: #fff;
  &:hover {
    box-shadow: 2px 2px 12px 2px $softshadow;
  }

  @include to-mobile() {
    &:nth-child(even)  {
      .project__header { text-align: right; }
      .project__tags { order: -1; }
    }
  }

  @include from-portrait() {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.project:hover .project__content {
  transform: translateY(0);
  background-color: rgba($pastel--d,.95);
}

.project__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  height: 100%;
  transition: all .4s ease-out;
  background-color: rgba($pastel--d,.95);
  @include from-desktop() {
    background-color: rgba($pastel--d, .7);
    transform: translateY( calc(100% - 4.25rem) );
  }
}

.project__header {
  display: flex;
  align-items: center;
}

.project__title {
  font-size: 1.2rem;
  flex: 1;
}

.project__desc {
  margin-top: 1rem;
  margin-bottom: .9rem;
}

.project__tags {
  @extend %list-reset;
  display: flex;
}

.project__tag {
  $size: 1.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  width: $size;
  margin-left: .4rem;
  font-size: 1rem;
  line-height: 0;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  opacity: .65;
  border-radius: 1px;
  overflow: visible;

  // Tag tooltip
  &:before {
    content: attr(data-tooltip);
    position: absolute;
    top: 70%;
    right: 98%;
    display: block;
    padding: .7rem .4rem;
    font-family: 'Ubuntu';
    text-align: center;
    font-size: .8rem;
    font-weight: 100;
    border-radius: 5px 0 5px 5px;
    pointer-events: none;
    transition: all .25s ease-out;
    transform-origin: 100% 0;
    transform: scale(0);
    z-index: 2;
    line-height: .5;
    white-space: nowrap;
  }
  &:hover {
    opacity: 1;
    cursor: help;

    &:before {
      transform: scale(1);
    }
  }
}

.project__links {
  @extend %list-reset;
  display: flex;
  margin-top: auto;
  justify-content: center;
  @include from-desktop() {
    justify-content: flex-end;
  }
}

.project__link-item:not(:first-child) {
  margin-left: .6rem;
}

.project__link {
  $size: 2.45rem;
  font-size: 1.3rem;
  width: $size;
  height: $size;
  margin-left: 0;
  border-radius: 4px;
  opacity: .9;
  &:hover {
    cursor: pointer;
    color: currentColor;
    opacity: 1;
  }
}

.tag--wp,
.tag--wp:before { background-color: $gray--l; color: $pastel--d; }
.tag--web,
.tag--web:before { background-color: $gray--l; color: $blue; }
.tag--js,
.tag--js:before { background-color: $jsyellow; color: #000; }
.tag--react,
.tag--react:before { background-color: #000; color: $reactblue; }
.tag--vue,
.tag--vue:before { background-color: $gray--l; color: $vuegreen; }
.tag--game,
.tag--game:before { background-color: $green--l; color: $phaserpurple; }
.tag--live,
.tag--live:before { background-color: $darkblue; color: #fff; }
.tag--info,
.tag--info:before { background-color: $blue; color: #fff; }
.tag--github,
.tag--github:before { background-color: $gray--d; color: #000; }
