<footer class="footer" id="footer">
  <div class="container">
    <div class="bracket" aria-hidden="true"></div>
    <div class="footer__content">
      <p>&copy; Copyright All rights reserved 2017.</p>
      <p>
        Thank you for visiting my page.
        But please don't look at the console.
      </p>
      <p>Icons and <a href='http://www.freepik.com/free-vector/pixelated-monster-pattern_904310.htm' target="_blank" rel="noopener">background image</a> by
        <a href="http://www.freepik.com" title="Freepik" target="_blank" rel="noopener">Freepik</a> from
        <a href="http://www.flaticon.com" title="Flaticon" target="_blank" rel="noopener">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0 BY</a>
      </p>
    </div>
  </div>
</footer>
