$detail: rgba(#000, .25);
$active: $darkpastel;
$background: $gray;
$font: $darkpastel;
$font-active: $darkpastel;

.main-nav {
  z-index: 10;
}

.scroll-past-nav .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .nav__a {
    background-color: rgba($background, .85);
  }
}

.nav__ul {
  @extend %list-reset;
  display: flex;
}

.nav__li {
  position: relative;
  flex: 1;
  // Vertical divider
  &:not(:last-child):after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: 7.5%;
    right: -1px;
    display: block;
    height: 85%;
    width: 1px;
    background-color: $detail;
  }
}

.nav__a {
  position: relative;
  color: $font;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  font-size: .75em;
  padding: .45rem 0;
  transition: all .4s ease-in-out;
  background-color: $background;
  box-shadow: 1px 1px 3px rgba(#000, .2);

  // Bottom border
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    background-color: $detail;
    height: 2px;
    transition: width .3s ease-in-out;
  }
  &:hover, &.is-active, &:focus {
    color: $font-active;
    background-color: $background !important;
    &:after {
      width: 100%;
    }
  }
}
