$detail: $darkgreen;
$active: $darkgreen;
$background: $green--d;
$font: #fff;
$font-active: $gray--l;

.main-nav {
  z-index: 10;
  transition: box-shadow .4s ease-in-out;
}

.scroll-past-nav .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 10px 1px $softshadow;
  .nav__a {
    background-color: rgba($background, .85);
  }
}

.nav__ul {
  @extend %list-reset;
  display: flex;
}

.nav__li {
  position: relative;
  flex: 1;
  // Vertical divider
  &:not(:last-child):after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: 15%;
    right: -1px;
    display: block;
    height: 70%;
    width: 2px;
    background-color: $detail;
    opacity: .4;
  }
}

.nav__a {
  position: relative;
  color: $font;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  font-size: .7em;
  padding: .45rem 0;
  transition: all .4s ease-in-out;
  background-color: $background;

  // Bottom border
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    background-color: $detail;
    height: 3px;
    transition: width .3s ease-in-out;
  }
  &:hover, &.is-active, &:focus {
    color: $font-active;
    background-color: $background !important;
    &:after {
      width: 100%;
    }
  }
}
