$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-unity: "\e911";
$icon-webpack: "\e914";
$icon-vue: "\e901";
$icon-js: "\e902";
$icon-ts: "\e920";
$icon-phaser: "\e91f";
$icon-redux: "\1f339";
$icon-ps: "\e903";
$icon-sass: "\e904";
$icon-angular: "\e905";
$icon-node: "\e906";
$icon-gulp: "\e907";
$icon-react: "\e909";
$icon-testing: "\e915";
$icon-envelope: "\e91e";
$icon-rwd: "\e90a";
$icon-arrow-down2: "\e91d";
$icon-work: "\e900";
$icon-dots: "\e910";
$icon-info: "\e908";
$icon-arrow-long-up: "\e90b";
$icon-external: "\e90f";
$icon-person: "\e91c";
$icon-stats-bars2: "\e99d";
$icon-pacman: "\e921";
$icon-image: "\e927";
$icon-link: "\e9cb";
$icon-close: "\ea0f";
$icon-facebook: "\e90c";
$icon-github: "\e90d";
$icon-web: "\f0ac";
$icon-linkedin: "\e90e";
$icon-html5: "\e912";
$icon-css3: "\e913";
$icon-wordpress: "\e916";
$icon-drupal: "\e917";
$icon-codepen: "\e918";
$icon-git: "\e919";
$icon-lastfm: "\e91a";
$icon-wheelchair-alt: "\e91b";

