<section class="landing section" id="about">
  <div class="container">
    <div class="landing__wrapper">
      <div class="landing__header text--center">
        <div class="avatar">
          <img class="img--circle" id="avatar" height="200" width="200" src="images/some_handsome_guy.jpg" alt="">
        </div>
        <div class="landing__heading">
          <h1 class="landing__heading-text">Patryk Poźniak</h1>
          <div class="landing__bracket" aria-hidden="true"></div>
        </div>
        <h2 id="landing__sub" class="landing__sub">Front-End Developer</h2>
      </div>

      <article class="about">
        <h2>Hello there!</h2>
        <div class="about__text">
            <p>I am young and ambitious web developer from Poland. Programming is my passion since childhood. I've took the frontend path, and now I am strongly focusing on <strong>JavaScript</strong>, constantly learning to keep up with all the newest trends. I always try to write elegant, readable and efficient code using the best practices.</p>

            <p>Sharing the knowledge gives me lots of satisfaction and I am always willing to help.
            I really enjoy <strong>game development</strong>, especially with <a href="http://phaser.io" target="_blank" title="Phaser website - JavaScript game framework" rel="noopener">Phaser</a> framework which I absolutely love.
            I'm a big fan of heavy music, going to gigs quite often.
            Also I'm a father of <code class="inline-code">calcAge(new Date(2016, 9, 20));</code> old son.</p>
        </div>
      </article>
    </div>
  </div>
</section>
